body {
    background-color: rgb(227, 180, 231);
    color: rgb(24, 5, 17);
}

.heading {
    width: 80%;
    font-size: 25px;
}

#webcam_view {
    font-size: 17.7777777px;
}

#camera, #result {
    border: 2px dashed rgb(46, 29, 43);
    border-radius: 20px;
    width: 350px;
    height: 300px;
}

#result_object_name, #result_object_accuracy {
    color:rgb(105, 81, 102)
}